# Kubernetes
*.yaml.swp
.kube/

# Ignore unencrypted temp secrets only
secrets/*.env
secrets/*.tmp
secrets/*.plaintext.yaml

# SOPS
*.age
*.key
.sops*

# Git
*.log
*.bak
*.tmp

# Other
*.pem

# OS / Editor / Ansible
.DS_Store
.idea/
.vscode/
__pycache__/
*.retry
*.cache
*.tar.gz

