services:
  whatsupdocker:
    image: getwud/wud
    deploy:
      placement:
        constraints:
          - node.role == manager
    container_name: wud
#    user: 0:0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${WUD_STORE_VOLUME}:/store
#    ports:
#      - 3000:3000
    labels:
      - wud.tag.include='^\d+\.\d+\.\d+$$'
      - wud.link.template='https://github.com/fmartinou/whats-up-docker/releases/tag/$${major}.$${minor}.$${patch}'
      - traefik.enable=${TRAEFIK_ENABLE}
      - traefik.http.routers.wud.rule=${TRAEFIK_HTTP_ROUTERS_WUD_RULE}
      - traefik.http.routers.wud.entrypoints=${TRAEFIK_HTTP_ROUTERS_WUD_ENTRYPOINTS}
      - traefik.http.routers.wud.tls=${TRAEFIK_HTTP_ROUTERS_WUD_TLS}
      - traefik.http.routers.wud.tls.certresolver=${TRAEFIK_HTTP_ROUTERS_WUD_TLS_CERTRESOLVER}
#      - traefik.http.routers.wud.service=${TRAEFIK_HTTP_ROUTERS_WUD_SERVICE}
      - traefik.http.services.wud.loadbalancer.server.port=${TRAEFIK_HTTP_SERVICES_WUD_LOADBALANCER_SERVER_PORT}    
    environment:
      - TZ=${TZ}
      #Server Settings
      - WUD_SERVER_PORT=${WUD_SERVER_PORT}
      - WUD_SERVER_FEATURE_DELETE=${WUD_SERVER_FEATURE_DELETE}
      #Log Settings
      - WUD_LOG_FORMAT=${WUD_LOG_FORMAT}
      - WUD_LOG_LEVEL=${WUD_LOG_LEVEL}
      #Authentik ODIC Settings
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTID=${WUD_AUTH_OIDC_AUTHENTIK_CLIENTID}
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET=${WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET}
      - WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY=${WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY}
      - WUD_AUTH_OIDC_AUTHENTIK_REDIRECT=${WUD_AUTH_OIDC_AUTHENTIK_REDIRECT}
      #Registry Settings
      - WUD_REGISTRY_HUB_PUBLIC_LOGIN=${WUD_REGISTRY_HUB_PUBLIC_LOGIN}
      - WUD_REGISTRY_HUB_PUBLIC_PASSWORD=${WUD_REGISTRY_HUB_PUBLIC_PASSWORD}
      - WUD_REGISTRY_LSCR_PRIVATE_USERNAME=${WUD_REGISTRY_LSCR_PRIVATE_USERNAME}
      - WUD_REGISTRY_LSCR_PRIVATE_TOKEN=${WUD_REGISTRY_LSCR_PRIVATE_TOKEN}
      - WUD_REGISTRY_HOTIO=${WUD_REGISTRY_HOTIO}
      - WUD_REGISTRY_QUAY=${WUD_REGISTRY_QUAY}
      #SMTP Triggers
      - WUD_TRIGGER_SMTP_MAIL_MODE=${WUD_TRIGGER_SMTP_MAIL_MODE}
      - WUD_TRIGGER_SMTP_MAIL_ONCE=${WUD_TRIGGER_SMTP_MAIL_ONCE}
      - WUD_TRIGGER_SMTP_MAIL_BATCHTITLE=${WUD_TRIGGER_SMTP_MAIL_BATCHTITLE}
      - WUD_TRIGGER_SMTP_MAIL_THESHOLD=${WUD_TRIGGER_SMTP_MAIL_THESHOLD}
      - WUD_TRIGGER_SMTP_MAIL_SIMPLETITLE=${WUD_TRIGGER_SMTP_MAIL_SIMPLETITLE}
      - WUD_TRIGGER_SMTP_MAIL_SIMPLEBODY=${WUD_TRIGGER_SMTP_MAIL_SIMPLEBODY}
      - WUD_TRIGGER_SMTP_MAIL_HOST=${WUD_TRIGGER_SMTP_MAIL_HOST}
      - WUD_TRIGGER_SMTP_MAIL_PORT=${WUD_TRIGGER_SMTP_MAIL_PORT}
      - WUD_TRIGGER_SMTP_MAIL_USER=${WUD_TRIGGER_SMTP_MAIL_USER}
      - WUD_TRIGGER_SMTP_MAIL_PASS=${WUD_TRIGGER_SMTP_MAIL_PASS}
      - WUD_TRIGGER_SMTP_MAIL_FROM=${WUD_TRIGGER_SMTP_MAIL_FROM}
      - WUD_TRIGGER_SMTP_MAIL_TO=${WUD_TRIGGER_SMTP_MAIL_TO}
      - WUD_TRIGGER_SMTP_MAIL_TLS_ENABLED=${WUD_TRIGGER_SMTP_MAIL_TLS_ENABLED}
      #Watcher - Docker Socket
      - WUD_WATCHER_DOCKER_SOCKET=${WUD_WATCHER_DOCKER_SOCKET}
      - WUD_WATCHER_DOCKER_CRON=${WUD_WATCHER_DOCKER_CRON}
      - WUD_WATCHER_DOCKER_WATCHEVENTS=${WUD_WATCHER_DOCKER_WATCHEVENTS}
      - WUD_WATCHER_DOCKER_WATCHBYDEFAULT=${WUD_WATCHER_DOCKER_WATCHBYDEFAULT}
      - WUD_WATCHER_DOCKER_WATCHALL=${WUD_WATCHER_DOCKER_WATCHALL}
      # Automatic Update Triggers for Docker Containers
      - WUD_TRIGGER_DOCKER_DOCKER_PRUNE=${WUD_TRIGGER_DOCKER_DOCKER_PRUNE}
      - WUD_TRIGGER_DOCKER_DOCKER_DRYRUN=${WUD_TRIGGER_DOCKER_DOCKER_DRYRUN}
    networks:
      - wud
      - proxy
    healthcheck:
      test: curl --fail http://localhost:${WUD_SERVER_PORT:-3000}/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
networks:
  proxy:
    external: true
  wud: